In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("heart.csv")
df.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0

In [4]:
X = df.iloc[ : , : -1]
y = df.iloc[ : , 13]

X.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=20)

print(X_train.shape, X_test.shape)

(717, 13) (308, 13)

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()

In [9]:
X_train_scaled = scaler.fit_transform(X_train)

In [10]:
X_test_scaled = scaler.transform(X_test)

In [11]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model = model.fit(X_train_scaled, y_train)
train_pred = model.predict(X_train_scaled)

In [12]:
from sklearn import metrics

In [13]:
accuracy = metrics.accuracy_score(y_train, train_pred)
print(accuracy)

0.8633193863319386

In [14]:
new_data = [[23, 0, 1, 129, 200, 1, 1, 160, 0, 1.3, 3, 3, 2]]

new_scaled = scaler.transform(new_data)

C:\Users\sukan\anaconda3\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [15]:
model.predict(new_scaled)

array([1], dtype=int64)

In [16]:
import pickle

with open('model_pkl', 'wb') as files:
    pickle.dump(model, files)